body, .font-main, .font-main a, p{
	font-family: $mainfont !important;
}

.gafa__title--1{
	h3{
		text-transform: lowercase;
		font-family: $mainfont2;
		letter-spacing: 10px;
		font-size:42px !important;
		font-weight:400 !important;
	}
	p{
		text-transform: uppercase;
		letter-spacing: 4px;
		color:#000 !important;
		font-size:12px !important;
		margin-top:10px !important;
		font-weight: 500 !important;
	}
}

.gafa__title--2{
	h3{
		text-transform: uppercase;
		font-family: $mainfont2;
		letter-spacing: 20px;
		font-size:14px !important;
		font-weight:400 !important;
	}
	p{
		margin-top:15px !important;
		letter-spacing: 2.4px;
		color:#fff !important;
		font-size:11px !important;
		font-weight: 300 !important;
	}
}

.portfolio-item{
	h4{
		letter-spacing: 3px !important;
	}
}

.norebro-subscribe-sc.subscribe {
	input[type="text"]{
		letter-spacing: 4px;
		color:#fff !important;
		font-size:12px !important;
		font-weight: 500 !important;
		&::placeholder{
			color:#999 !important;
		}
	}
}

.btn-outline.btn-brand, input[type="submit"].btn-outline.btn-brand, a.btn-outline.btn-brand{
	border-color:#999;
}
input[type="submit"].btn-outline.btn-brand{
	font-size:10px;
	letter-spacing: 2px;
	padding: 12px 35px 11px;
	height:45px;
}

#hamburger-menu{
	border-color:#fff !important;
	.hamburger{
		border-color:#fff !important;
		&::after{
			top:6px !important;
		}
	}
}

#site-navigation{
	z-index: 99999999999 !important;
	background: #000 !important;
	#mega-menu-wrap{
		li{
			margin-bottom:20px;
			a{
				color:#fff !important;
			}
		}
	}
}


.portfolio-item h4, .portfolio-item h4.title{
	font-family: $mainfont2 !important;
}

.vc_col-sm-8{
	.norebro-heading-sc.heading.text-left{
		p{
			background-color: black;
			display: inline-block;
			margin-bottom: 50px;
			padding: 5px;
			color: white !important;
			font-size: 11px !important;
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;
			width:auto;
		}
	}
}

.heading{
	.subtitle{
		font-family: $mainfont2 !important;
		color:#000 !important;
		font-size:18px !important;
	}
	.title{
		font-family: $mainfont2 !important;
		font-size:32px !important;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300 !important;
	}
	.title.subtitle-top{
		font-family: $mainfont2 !important;
		color:#000 !important;
		font-size:32px !important;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300 !important;
	}
}
.testimonials{
	blockquote{
		font-weight: 300;
	}
}
.norebro-cta-sc.call-to-action{
	h3{
		font-family: $mainfont2 !important;
		text-transform: uppercase;
	}
	.subtitle{
		font-weight: 300;
	}
}

.norebro-text-sc {
	p{
		font-weight:300;
	}
}

.content-center.with-full{
	h3{
		font-family: $mainfont2 !important;
		text-transform: uppercase;
	}
	.subtitle{
		font-family: $mainfont2 !important;
		text-transform: lowercase;
	}
}


.portfolio-item.grid-2 .category{
	font-size:9px;
}

.header-title{
	h1{
		font-family: $mainfont2;
		font-size:42px !important;
	}
}

.btn.btn-outline,
input[type="submit"].btn-outline.btn-brand{
	text-transform: uppercase;
	font-size:8px;
	letter-spacing: 4px;
	font-weight: 500;
	.icon{
		display: none;
	}
}
.btn.btn-outline.btn-brand{
	text-transform: uppercase;
	font-size:8px;
	letter-spacing: 4px;
}
