.portfolio-item{
}

.portfolio-gallery{
    background:transparent!important;
    
    .slider, .gallery-content{
        opacity:0;
        transition: .3s ease-in-out;
        transition-delay: 2s;
        transition-property: opacity;

        h2, h5{
            font-family: "Share Tech Mono", Helvetica Neue, Helvetica, Arial, sans-serif;
            letter-spacing: 10px;
        }
        
        h5{
            letter-spacing: 2px;
        }

        .tag{
            letter-spacing: 2px;
        }
    }

    &.open{
        .slider, .gallery-content{
            opacity:1;
            transition: .3s ease-in-out;
            transition-delay: 3s;
            transition-property: opacity;
        }
    }
}

.back-element{
    left:0;
    position: fixed;
    top:0;
    z-index: 99998;

    background-color:#000000;
    display: block;
    height:100vh;
    width:100vw;
    
    visibility: hidden;
    opacity:0;
    transform: scale(.6);
    transition: .3s ease-in-out;
    transition-delay: 1.3s, 1.6s, 1.9s;
    transition-property: transform, opacity, visibility;
    
    &.open{
        visibility: visible;
        opacity:1;
        transform: scale(1);
        transition: .2s ease-in-out;
        transition-delay: .0s, .2s, .4s, .4s;
        transition-property: visibility, opacity, transform;
        
        canvas{
            opacity:0.3;
            transition: .6s ease-in-out;
            transition-delay: .6s;
            transition-property: opacity;
        }
    }
    
    canvas{
        opacity: 0;
        transition: .3s ease-in-out;
        transition-delay: 2s;
        transition-property: opacity;
    }
}