.services{

    [data-back*='dark']{
        color:white;
        background-color: black;
    }
    
    [data-back*='light']{
        color:black;
        background-color: #dfdfdf;
    }

    .animation{
        position: relative;
        height:200px;
        width:100%;
        margin:0 0 60px;
        margin-left:60px;
        margin-right:auto;
        
        canvas{
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            // pointer-events: none; 
        }
    }
    
    .content{
        display:flex;
        
        .description{
            display: flex;
            align-items: flex-end;
            width:260px;
            margin-right:80px;
        }
        
        .link{
            display: flex;
            align-items: flex-end;
        }
    }
    
    .link{
        font-size:45px;
        line-height: 0.8;
    }
    
    .description{
        font-size:14px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    
    .return{
        position: absolute;
        top:20px;
        left:96px;
        z-index:9;
        display: none;
        cursor: pointer;
        
        i{
            font-size: 20px;
            color:white;
        }
    }
    
    &__interior{
        .content{
            margin-bottom: 60px;

            .description{
                opacity:0.6;
                line-height: 1.4;
            }
        }

        .data{

            .col-4{

                p{
                    display:block;
                    width:80%;
                    margin-left:0;
                    opacity: 0.8;

                    color: white;
                    font-size:12px;
                    font-weight: 400;
                }

                ul li {
                    display:block;
                    margin-bottom:8px;
                }
            }
        }
    }

    &__wrapper{
        top:0;
        left:0;
        position: absolute;
        padding:0;

        &[data-theme='home']{
            height: 100vh;
            width: 100vw;
    
            .swiper-container{
                height:100%;
                width:100%;
            }
            
            [class*='title']{
                display: inline-block;
                background-color: black;
                margin-bottom: 50px;
                padding:5px;
                
                color:white;
                font-size: 12px;
                font-weight:400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            
            p{
                font-size:24px;
                font-weight:300;
                letter-spacing:3px;
                line-height: 28px;
            }
            
            hr{
                margin:20px auto;
                height:10px;
                width:10px;
                border-radius:50%;
                background-color:black;
            }
            
            .swiper-slide{
                display:flex;
                flex-flow:column;
                justify-content: center;
            }
            
            [class*='indexList']{
                margin-top:120px;
                
                .services__indexList__item{
                    position:relative;
                    transition: opacity .3s ease;
                    opacity:0.6;
                    
                    &:hover{
                        opacity:1;
                        
                        .content{
                            
                            #tecnology-desc, #creative-desc, #content-desc{
                                &:after, &:before{
                                    opacity:1;
                                }
                            }
                        }
                    }

                    .content{

                        #tecnology-desc{
                            @include textGlitch("tecnology-desc", 20, black, transparent, #dfdfdf, #dfdfdf, 260, 80);

                            &:after, &:before{
                                opacity:0;
                            }
                        }

                        #creative-desc{
                            @include textGlitch("creative-desc", 15, black, transparent, #dfdfdf, #dfdfdf, 500, 50);

                            &:after, &:before{
                                opacity:0;
                            }
                        }
                        
                        #content-desc{
                            @include textGlitch("content-desc", 15, black, transparent, #dfdfdf, #dfdfdf, 500, 50);

                            &:after, &:before{
                                opacity:0;
                            }
                        }

                        .link{
                            background-image: url("http://education.abc.net.au/splash-image-servlet/mvcservlet/imageServlet/profile1/parent-2541848");
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-weight:bold;
                            background-attachment: fixed;
                            cursor: pointer;
                            filter: grayscale(1);
                        }

                    }
                    
                    .divider{
                        position:absolute;
                        bottom:1px;
                        background-color:rgba(0, 0, 0, 0.9);
                        height:1px;
                        width:100%;
                    }
                    
                }
            }
        }
    }
}