.dg{
    display:none;
}

.services{

    .marginalia {
        pointer-events: none;
        position: absolute;
        z-index:6;
    }

    .wpb_column{
        display:none !important;
    }

    // .animation{
    //     position: relative;
    //     height:200px;
    //     width:100%;
    //     margin:0 0 60px;
    //     margin-left:60px;
    //     margin-right:auto;

    //     canvas{
    //         position:absolute;
    //         top:50%;
    //         transform:translateY(-50%);
    //     }
    // }

    // .canvas-chroma{
    //     position:absolute;
    //     display: none;
    //     height:100%;
    //     width:30%;
    //     top:0;
    //     right:0;

    //     &__container{
    //         position:relative;
    //         height: 100%;
    //         width: 100%;
    //     }

    //     &__row{
    //         position:relative;
    //         display: flex;
    //         width:100%;
    //         box-sizing: border-box;
    //         padding: 10px 0;
    //         opacity: 0;

    //         .letter{
    //             display:block;
    //             position:relative;
    //             height:180px;
    //             width:50%;
    //             margin:0 10px;
    //         }
    //     }
    // }


    // .return{
    //     position: absolute;
    //     top:20px;
    //     left:96px;
    //     z-index:9;
    //     display: none;
    //     cursor: pointer;

    //     i{
    //         font-size: 20px;
    //     }
    // }

    // &__background{
    //     position:absolute;
    //     top:0;
    //     left:0;
    //     width:100%;
    //     height: 100%;
    //     z-index:-1;
    //     opacity:0.8;
    // }

    // &__interior{
    //     .content{
    //         margin-bottom: 60px;

    //         .description{
    //             opacity:0.6;
    //             line-height: 1.4;
    //         }

    //         .link{
    //             cursor: text;
    //         }
    //     }

    //     .data{

    //         .col-4{

    //             p{
    //                 display:block;
    //                 width:80%;
    //                 margin-left:0;
    //                 opacity: 0.8;

    //                 font-size:12px;
    //                 font-weight: 400;
    //             }

    //             ul{

    //                 li {

    //                     display:block;
    //                     margin-bottom:8px;
    //                 }
    //             }
    //         }
    //     }
    // }

    &__wrapper{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;

        background-color: #ffffff;
        height: 100vh;
        padding:0;
        width: 100vw;

        color:black;

        @media screen and (max-width:776px) {
            height:initial;
        }

        p{
            color:black;
        }

        @media screen and (max-width:1280px) {
            padding-left:80px;
        }

        @media screen and (max-width:992px) {
            padding-left:0px;
        }

        [class*='title']{
            background-color: black;
            display: inline-block;
            margin-bottom: 50px;
            padding:5px;

            color:white;
            font-size: 12px;
            font-weight:400;
            letter-spacing: 2px;
            text-transform: uppercase;

            @media screen and (max-width:1280px) {
                margin-bottom:25px;
            }
        }

        p{
            font-size:20px;
            font-weight:300;
            letter-spacing:2px;
            line-height: 1.4;

            @media screen and (max-width:1280px) {
                font-size:120%;
            }
        }

        hr{
            border-radius:50%;
            background-color:black;
            margin:20px auto;
            height:10px;
            width:10px;
        }

        [class*='indexList']{
            margin-top:60px;

            .services__indexList__item{
                position:relative;
                transition: opacity .3s ease;
                opacity:0.6;
                list-style: none;

                &:hover{
                    opacity:1;

                    .content{

                        .description{
                            &:after, &:before{
                                opacity:1;
                            }
                        }
                    }
                }

                .content{
                    display: flex;

                    @media screen and (max-width:480px) {
                        flex-flow: column nowrap;
                    }

                    .description{
                        display: flex;
                        align-items: flex-end;

                        margin-right:80px;
                        width:260px;

                        font-size:14px;
                        font-weight: 400;
                        letter-spacing: 2px;
                        line-height: 1.2;

                        @include textGlitch("description", 20, black, transparent, #dfdfdf, #dfdfdf, 260, 80);

                        &:after, &:before{
                            opacity:0;
                        }
                    }

                    .link{
							  color:#000 ;
                        display: inline-block;
                        position: relative;
                        margin-bottom:-20px;
                        padding:10px 0;
                        z-index:2;

                        cursor: pointer;
                        font-size:45px;
                        font-weight:500;
                        line-height: 0.8;
								letter-spacing: 3px;

								font-family: $mainfont2;

                        @media screen and (max-width:1280px) {
                            font-size:260%;
                        }

                        @media screen and (max-width:992px) {
                            font-size:180%;
                        }

                        @media screen and (max-width:480px) {
                            margin-top: 20px;

                            font-size:140%;
                            line-height: 1;

                        }

                    }

                }

                .divider{
                    position:absolute;
                    bottom:1px;
                    background-color:rgba(0, 0, 0, 0.9);
                    height:1px;
                    width:100%;
                }

            }

        }
    }
}
