@import "variables";
@import "svg";
@import "lib";
/*
	[Table of contents] =============================================================
	- General
	*/
	@import "plugins/swiper";
	@import "plugins/glitch";
	@import "plugins/fontawesome";
	@import "components/general";
	@import "components/servicios";
	@import "components/hero";
	@import "components/clientes";
